includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
         - app
         - bootstrap/app.php
         - config
         - database
         - public
         - routes

    # Level 10 is the highest level
    level: 7

    tmpDir: /tmp/phpstan

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
